<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>About King's Hotel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Flat Icon -->
		<link rel="stylesheet" href="../static/css/flaticon.css">
		<!-- Flexslider  -->
		<link rel="stylesheet" href="../static/css/flexslider.css">
		<!-- Style -->
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/hotel.css">
		<link rel="stylesheet" href="../static/animations.css">
	</head>
<body style="background: none;">
	<section class="cd-intro">
		<div class="cd-intro-content bouncy">
			<div class="action-wrapper">
	
				<!-- Start your content here -->
				<div id="fh5co-wrapper">
					<div id="fh5co-page">
					<aside id="fh5co-hero" class="js-fullheight">
						<div class="flexslider js-fullheight">
							<ul class="slides">
							   <li style="background-image: url(../static/slider1.jpg);">
								   <div class="overlay-gradient"></div>
								   <div class="container">
									   <div class="col-md-12 col-md-offset-0 text-center slider-text">
										   <div class="slider-text-inner js-fullheight">
											   <div class="desc">
												   <p><span>Family</span></p>
												   <h2>Reserve Room for Family Vacation</h2>
											   </div>
										   </div>
									   </div>
								   </div>
							   </li>
							   <li style="background-image: url(../static/slider2.jpg);">
								   <div class="overlay-gradient"></div>
								   <div class="container">
									   <div class="col-md-12 col-md-offset-0 text-center slider-text">
										   <div class="slider-text-inner js-fullheight">
											   <div class="desc">
												   <p><span>Comfort</span></p>
												   <h2>Make Your Vacation Comfortable</h2>
											   </div>
										   </div>
									   </div>
								   </div>
							   </li>
							   <li style="background-image: url(../static/slider3.jpg);">
								   <div class="overlay-gradient"></div>
								   <div class="container">
									   <div class="col-md-12 col-md-offset-0 text-center slider-text">
										   <div class="slider-text-inner js-fullheight">
											   <div class="desc">
												   <p><span>Life</span></p>
												   <h2>A Best Place To Enjoy Your Life</h2>
											   </div>
										   </div>
									   </div>
								   </div>
							   </li>
							<li style="background-image: url(../static/slider4.jpg);">
								<div class="overlay-gradient"></div>
								<div class="container">
									<div class="col-md-12 col-md-offset-0 text-center slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<p><span>Family</span></p>
												   <h2>Reserve Room for Family Vacation</h2>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(../static/slider5.jpg);">
								<div class="overlay-gradient"></div>
								<div class="container">
									<div class="col-md-12 col-md-offset-0 text-center slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<p><span>Comfort</span></p>
												   <h2>Make Your Vacation Comfortable</h2>
											</div>
										</div>
									</div>
								</div>
							</li>
							  </ul>
						  </div>
					</aside>
					
				
					  </div>
					</div>
					<input type="checkbox" id="burger-toggle">
				<label for="burger-toggle" class="burger-menu">
				  <div class="line"></div>
				  <div class="line"></div>
				  <div class="line"></div>
				</label>
				<div class="menu">
				  <div class="menu-inner">
					<ul class="menu-nav">
						<li class="menu-nav-item"><a class="menu-nav-link" href="/hotel"><span>
							  <div>Home</div>
							</span></a></li>
						<li class="menu-nav-item"><a class="menu-nav-link" href="/service"><span>
							  <div>Services</div>
							</span></a></li>
						<li class="menu-nav-item"><a class="menu-nav-link" href="/login"><span>
							  <div>Login</div>
							</span></a></li>
						<li class="menu-nav-item"><a class="menu-nav-link" href="/contact"><span>
							  <div>Contact Us</div>
							</span></a></li>
							<li class="menu-nav-item"><a class="menu-nav-link" href="/more"><span>
								  <div>About</div>
								</span></a></li>
						<li class="menu-nav-item"><a class="menu-nav-link" href="/booking"><span>
							  <div>Book Now</div>
							</span></a></li>
							<li class="menu-nav-item"><a class="menu-nav-link" href="/complain"><span>
							  <div>Feedback</div>
							</span></a></li>
					  </ul>
					<div class="gallery">
					  <div class="title">
						<p>Gallery</p>
					  </div>
					  <div class="images">
						<a class="image-link" href="#">
						  <div class="image" data-label="Prized Locations"><img src="../static/locations.jpg" alt=""></div>
						</a>
						<a class="image-link" href="#">
						  <div class="image" data-label="Fine Dining"><img src="../static/dining.jpg" alt=""></div>
						</a>
						<a class="image-link" href="#">
						  <div class="image" data-label="Meetings & Events"><img src="../static/events.jpg" alt=""></div>
						</a>
						<a class="image-link" href="#">
						  <div class="image" data-label="Spa & Fitness"><img src="../static/spa.jpg" alt=""></div>
						</a>

		</div>
	  </section>

	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/superfish.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<script src="../static/js/jquery.countTo.js"></script>
	<script src="../static/js/jquery.stellar.min.js"></script>
	<script src="../static/js/bootstrap-datepicker.min.js"></script>
	<script src="../static/js/jquery.flexslider-min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link rel="stylesheet" href="../static/hotel.css">
	<link rel="stylesheet" href="../static/animations">
</body>
</html>