<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
</head>
<body style="text-align: center">

<h1 style="font-size: 40px; font-family:Open Sans, Arial, serif;  text-align: center">Admin Panel</h1>

<button><a href="/Booking">ADD Rooms</a></button>
<button><a href="/ShowRooms">ShowRooms</a></button>
<button><a href="/DeleteRoom">Delete Room</a></button>
<button><a href="/Customer">Add New Guest</a></button>
<button><a href="/Count">No of Guest</a></button>

<button><a href="/Availability">Availability Check</a></button>
<button><a href="/Booking_Show">Booking_Show</a></button>
<button><a href="/Book">Add_booking</a></button>
<button><a href="/G_info">Guest Info</a></button>
</body>
</html>