<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowContacts</title>
          <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<button id="mybutton">ShowRooms</button>
<table id="show" border="2">
    <thead>
            <tr>
                <th>Room_No</th>
                <th>Room_Type</th>
                <th>Room_Price</th>
                <th>Room_Status</th>
                </tr>
        </thead>
        <tfoot>
      <tr>
                <th>Room_No</th>
                <th>Room_Type</th>
                <th>Room_Price</th>
                <th>Room_Status</th>
                </tr>


        </tfoot>

</table>
    <script>
        var myData
        $(document.body).on('click',"#mybutton",function (e) {

                 $.ajax({type:"GET",
                     url:"/api/Rooms",
                     success: function(result){
                         myData = result
                         console.log(result)
                         console.log(myData)
                         if(myData !=null || myData !=""){
                            table = $('#show').DataTable( {
                                data: myData ,destroy: true,
                                columns: [
                                    { data: 'r_number' },
                                    { data: 'r_type' },
                                    { data: 'r_price' },
                                    { data: 'r_status' },

                                ]
                            } );
                        }

                  }});
        });


    </script>


</body>
</html>